<div class="yell-new">
  <div class="yell-items">
<h2>Sign up</h2>

<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
  <%= render 'devise/shared/error_messages', model: f.object %>

  <div class="field">
    <label class="form-text">ニックネーム</label>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) fight太郎", maxlength:"40" %>
  </div>

  <div class="field">
    <label class="form-text">メールアドレス</label>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>

  <div class="field">
    <label class="form-text">パスワード</label>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
  </div>

  <div class="field">
    <label class="form-text">パスワード(確認)</label>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
  </div>
  <div class="field">
    <label class="form-text">お名前(全角)</label>
    <%= f.text_area :first_name, class:"input-name", id:"last-name", placeholder:"例) 山田" %>
    <%= f.text_area :last_name, class:"input-name", id:"first-name", placeholder:"例) 陸太郎" %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

  </div>
</div>
