<div class="fight-new">
  <div class="fight-items">
    <div class="goal-coment">
    今回の目標は
    </div>
    <%= form_with model: @fight, url: fights_path , local: true do |f|%> 
      <div class="field">
        <%= f.text_field :title, placeholder:"何をするのか　例：数学の教科書",id:"fight-title"%> を
      </div>

      <div class="field-goal">
        <%= f.text_field :goal,placeholder:"どれだけするか　半角数字", class: :form__text, id:"fight-goal" %>
        <%= f.collection_select(:unit_id, Unit.all, :id, :name, {}, {class:"select-box", id:"fight-unit"}) %><br />
        すること！！
      </div>

      <div class="actions">
        <%= f.submit "やってやるぞ🔥", class: :form__btn  %>
      </div>
    <% end %>
  </div>
</div>